* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#main-header {
    background-color: yellow;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
}

main{
    flex-grow: 1;
    padding: 1rem;
}

footer{
    background-color: yellow;
    padding: 1rem;
    text-align: center;
}